:root {
	font-family:
		system-ui,
		-apple-system,
		"Segoe UI",
		Roboto,
		Ubuntu,
		Cantarell,
		"Helvetica Neue",
		sans-serif;
	line-height: 1.55;
	font-weight: 400;
	color-scheme: light dark;
	color: #1f2733;
	background: #f8f7f4;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#root {
	margin: 0;
	padding: 0;
	min-height: 100%;
}

body {
	min-width: 320px;
}

a {
	color: #0051c3;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

code {
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	font-size: 0.9em;
}
