name: CI

on: [push, pull_request]

jobs:
  test:
    name: Node.js v16
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16

      - name: (env) pnpm
        run: curl -L https://pnpm.js.org/pnpm.js | node - add --global pnpm

      - name: (env) cache
        uses: actions/cache@v2
        with:
          path: ~/.pnpm-store
          key: ubuntu-latest-node16-${{ hashFiles('**/package.json') }}
          restore-keys: ubuntu-latest-node16-

      - name: Install
        run: pnpm install

      - name: Code Style
        run: pnpm run pretest

      # TODO(future): fix errors to uncomment
      # - name: TypeCheck
      #   run: pnpm run test
