name: "Pull Request Deps"

on:
  pull_request: # this action runs in an untrusted but secure context with no secrets
    types:
      - opened
      - reopened

jobs:
  autofix-deps:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}-autofix-deps
      cancel-in-progress: true
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup

      - name: Autofix
        run: pnpm -w deps:fix

      - name: Install updated packages
        run: pnpm install

      - name: Re-run other fixes with updated packages
        run: pnpm -w fix

      - name: Run tests
        run: pnpm -w test

      - name: Commit and push changes
        run: |
          if [[ -n "$(git diff --exit-code)" ]]; then
            # configure user
            git config --global user.name "${{ github.actor }}"
            git config --global user.email "${{ github.actor }}@users.noreply.github.com"

            git commit -m 'autofix dependabot PR'
            git push
          fi

